 {% load static %}
 
 <div class="container">

  <h4>Latest Jobs</h4>
  <div class="row">

    {%  for job in jobs %}  

    <div id="joblist" class="col-sm-12 col-md-6 col-lg-6">
      <div class="card jobcol">
        <div class="card-body">
       
          <h6 class="card-title">{{job.job_title}}</h6>
            <p>
              <img class="img-fluid jobicons" src="{% static 'img/laptop.svg' %}" alt="" title="geo"> 
              {{job.job_description}}
            </p>
            <span class="">
              <img class="img-fluid jobicons" src="{% static 'img/tag.svg' %}" alt="" title="tag"> 
              {{job.salary}}
            </span>
            <span class="toright">
              <img class="img-fluid jobicons" src="{% static 'img/Clock.svg' %}" alt="" title="Clock"> 
              yesterday
            </span>

             <span class="toright">{{job.id}}</span>

        </div>
      </div>
     
    </div>

    {% endfor %}
    <script>


    </script>
  </div>
</div>