{% extends 'portal/main.html' %}

{% load static %}

{% block content %}

  <!-- the landingpage ________________________________________________starts here__________________________ -->

  {% comment %} <div id="landrbg">

    <div class="container">
      <div class="row landdiv d-flex align-items-end">

        <div class="col-sm-12 col-md-3 col-lg-3 ">

          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            if the printing and typesetting industry. 
           </h4>
           <button type="button" class="btn btn-primary">Find Jobs</button>

        </div>

        <div class="col-sm-12 col-md-9 col-lg-9">


        </div>
        

      </div>

    </div>
  </div>
     {% endcomment %}



  <!-- the landingpage ________________________________________________ ends here__________________________ -->

  



  

{% endblock %}